<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 max-w-md mx-auto">

    <!--Název úkolu-->
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Název úkolu</mat-label>
        <input matInput formControlName="name" placeholder="Např. Vynést odpadky">
        <mat-error *ngIf="form.get('name')?.hasError('required')">
            Název je povinný
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('minLength')">
            Název musí mít alespoň 3 znaky
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('maxLength')">
            Název musí mí maximálně 30 znaků
        </mat-error>
    </mat-form-field>

    <!--Priorita-->
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Priorita</mat-label>
        <mat-select formControlName="priority">
            <mat-option [value]="1">Nízká</mat-option>
            <mat-option [value]="2">Střední</mat-option>
            <mat-option [value]="3">Vysoká</mat-option>
        </mat-select>
    </mat-form-field>

    <!--Status-->
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Status</mat-label>
        <mat-select formControlName="Status">
            <mat-option [value]="1">ToDo</mat-option>
            <mat-option [value]="2">Probíhá</mat-option>
            <mat-option [value]="3">Hotovo</mat-option>
        </mat-select>
    </mat-form-field>

    <!--Odeslání-->
    <button mat-flat-button color="primary" [disabled]="form.invalid">
        Uložit úkol
    </button>

</form>