<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 max-w-md mx-auto mt-10 flex-col items-center">

    <!--Název úkolu-->
    <mat-form-field appearance="outline" class="w-full">
        <label for="name" class="hidden">{{ 'TASK.NAME' | translate }}</label>
        <input id="name" matInput formControlName="name" placeholder="{{ 'TASK.NAME' | translate }}">
        <mat-error *ngIf="form.get('name')?.hasError('required')">
            {{ 'TASK_FORM.NAME_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('minlength')">
            {{ 'TASK_FORM.NAME_MIN' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
            {{ 'TASK_FORM.NAME_MAX' | translate }}
        </mat-error>
    </mat-form-field>

    <!--Priorita-->
    <mat-form-field appearance="outline" class="w-full">
        <label for="priority" class="hidden">{{ 'TASK_LIST.PRIORITY' | translate }}</label>
        <mat-select id="priority" formControlName="priority" placeholder="{{ 'TASK_LIST.PRIORITY' | translate }}">
            <mat-option [value]="TaskPriority.Low">{{ 'PRIORITY.LOW' | translate }}</mat-option>
            <mat-option [value]="TaskPriority.Medium">{{ 'PRIORITY.MEDIUM' | translate }}</mat-option>
            <mat-option [value]="TaskPriority.High">{{ 'PRIORITY.HIGH' | translate }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!--Status-->
    <mat-form-field appearance="outline" class="w-full">
        <label for="status" class="hidden">{{ 'TASK_LIST.STATUS' | translate }}</label>
        <mat-select id="status" formControlName="status" placeholder="{{ 'TASK_LIST.STATUS' | translate }}">
            <mat-option [value]="TaskStatus.Todo">{{ 'STATUS.TODO' | translate }}</mat-option>
            <mat-option [value]="TaskStatus.InProgress">{{ 'STATUS.IN_PROGRESS' | translate }}</mat-option>
            <mat-option [value]="TaskStatus.Done">{{ 'STATUS.DONE' | translate }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!--Odeslání-->
    <div class="flex justify-center">
        <button mat-flat-button color="primary" [disabled]="form.invalid" class="mx-auto !bg-black !text-white">
            {{ 'GENERAL.SAVE' | translate }}
        </button>
    </div>

</form>