<div class="p-4 bg-white">

    <div class="flex justify-evenly items-center max-sm:flex-col gap-4 mb-4 !bg-white">

        <mat-form-field appearance="fill" class="sm:s-1/2 h-20 !rounded-md overflow-hidden">
            <mat-label>{{ 'TASK_LIST.SEARCH_PLACEHOLDER' | translate}}</mat-label>
            <input matInput (input)="onSearch($event)" placeholder="{{ 'TASK_LIST.SEARCH_PLACEHOLDER' | translate}}" class="rounded-md">
        </mat-form-field>

    
        <mat-form-field appearance="fill" class="h-20">
            <mat-label>{{ 'TASK_LIST.FILTER_STATUS' | translate }}</mat-label>
            <mat-select [(ngModel)] = "selectedStatus" (selectionChange)="onFilterChange()">
                <mat-option [value]="null">{{ 'STATUS.VSE' | translate }}</mat-option>
                <mat-option [value]="TaskStatus.Todo">{{ 'STATUS.TODO' | translate }}</mat-option>
                <mat-option [value]="TaskStatus.InProgress">{{ 'STATUS.IN_PROGRESS' | translate }}</mat-option>
                <mat-option [value]="TaskStatus.Done">{{ 'STATUS.DONE' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="h-20">
            <mat-label>{{ 'TASK_LIST.FILTER_PRIORITY' | translate }}</mat-label>
            <mat-select [(ngModel)]="selectedPriority" (selectionChange)="onFilterChange()">
                <mat-option [value]="null">{{ 'PRIORITY.VSE' | translate }}</mat-option>
                <mat-option [value]="TaskPriority.Low">{{ 'PRIORITY.LOW' | translate }}</mat-option>
                <mat-option [value]="TaskPriority.Medium">{{ 'PRIORITY.MEDIUM' | translate }}</mat-option>
                <mat-option [value]="TaskPriority.High">{{ 'PRIORITY.HIGH' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-flat-button routerLink="/new" color="primary">
            {{ 'TASK_LIST.ADD_TASK' | translate }}
        </button>
    </div>

    <table mat-table [dataSource]="tasks" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z2 w-full !bg-white">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TASK_LIST.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let task">
                <a [routerLink]="['/detail/', task.id]" class="text-blue-600 hover:underline">
                    {{ task.name }}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TASK_LIST.PRIORITY' | translate }}</th>
            <td mat-cell *matCellDef="let task">
                <mat-select [(value)]="task.priority" (selectionChange)="updateTask(task)">
                    <mat-option [value]="TaskPriority.Low">{{ getPriorityText(TaskPriority.Low) | translate}}</mat-option>
                    <mat-option [value]="TaskPriority.Medium">{{ getPriorityText(TaskPriority.Medium) | translate }}</mat-option>
                    <mat-option [value]="TaskPriority.High">{{ getPriorityText(TaskPriority.High) | translate }}</mat-option>
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TASK_LIST.STATUS' | translate }}</th>
            <td mat-cell *matCellDef="let task">
                <mat-select [(value)]="task.status" (selectionChange)="updateTask(task)">
                    <mat-option [value]="TaskStatus.Todo">{{ getStatusText(TaskStatus.Todo) | translate }}</mat-option>
                    <mat-option [value]="TaskStatus.InProgress">{{ getStatusText(TaskStatus.InProgress) | translate }}</mat-option>
                    <mat-option [value]="TaskStatus.Done">{{ getStatusText(TaskStatus.Done) | translate }}</mat-option>
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'TASK_LIST.ACTIONS' | translate }}</th>
            <td mat-cell *matCellDef="let task">
                <button mat-icon-button color="primary" [routerLink]="['/edit', task.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator 
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageIndex]="currentPage-1"
        (page)="onPageChange($event)"
        class="!bg-white">
    </mat-paginator>
</div>